<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HorariosUV"
        tools:targetApi="31">
        <activity
            android:name=".EliminarMateriaSalon"
            android:exported="false"
            android:label="Eliminar relación materia y salón">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EliminarAcademicoSalon"
            android:exported="false"
            android:label="Eliminar relación académico y salón"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EliminarHorario"
            android:exported="false"
            android:label="Eliminar un horario"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EliminarSalon"
            android:exported="false"
            android:label="Eliminar un salón"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditarMateriSalon"
            android:exported="false"
            android:label="Editar relación de materia y salón"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditarAcademicoSalon"
            android:exported="false"
            android:label="Editar relación de académico y salón"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EliminarMateria"
            android:exported="false"
            android:label="Eliminar materia"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EliminarAcademico"
            android:exported="false"
            android:label="Eliminar académico"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditarHorario"
            android:exported="false"
            android:label="Editar horario"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditarSalon"
            android:exported="false"
            android:label="Editar salón"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditarMateria"
            android:exported="false"
            android:label="Editar materia"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditarAcademico"
            android:exported="false"
            android:label="Editar académico"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AgregarAcademicoSalon"
            android:exported="false"
            android:label="Agregar relación académico salón"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AgregarMateriaSalon"
            android:exported="false"
            android:label="Agregar relación materia salón"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AgregarHorario"
            android:exported="false"
            android:label="Agregar horario"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AgregarMateria"
            android:exported="false"
            android:label="Agregar materia"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AgregarSalon"
            android:exported="false"
            android:label="Agregar salón"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AgregarAcademico"
            android:exported="false"
            android:label="Agregar académico"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConsultaHorario2"
            android:exported="false"
            android:label="Información de materia"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".VentanaEliminar"
            android:exported="false"
            android:label="Eliminar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".VentanaEditar"
            android:exported="false"
            android:label="Editar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".VentanaAgregar"
            android:exported="false"
            android:label="Agregar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pantalla_Carga"
            android:exported="false"
            android:label="Menu">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".opciones_administrador"
            android:exported="false"
            android:label="Configuración">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="Inicio de Sesión...">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConsultaMateria"
            android:exported="false"
            android:label="Consulta por Materia...">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConsultaSalon"
            android:exported="false"
            android:label="Consulta por Salón...">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConsultaHorarios"
            android:exported="false"
            android:label="Consulta por Horario...">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConsultaAcademico"
            android:exported="false"
            android:label="Consulta por carrera...">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>